<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<% if signed_in? and current_user?(@user) %>
  <%= link_to 'Edit', edit_user_project_path(@user, @project) %>
<% end %>
<%= link_to 'Back', projects_path %>
